.container{
    max-width: 1100px;
    padding:0 20px ;
    margin: auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.list-inline{
    display: flex;
    list-style: none;
}
.col{
    width: 100%;
}
.purple{
    background-color: var(--purple);
}