@import url(reset.css);
@import url(common.css);
@import url(variables.css);
@import url(debug.css);

/* HEADER */
header{
    background-color: var(--primary-color);
    padding: 20px;
}
.logo-row{
    justify-content: space-between;
}
.hamburger-button{
    border: none;
    background-color:  transparent;
    font-size: 30px;
    color: white;
}
.header-nav{
    display: none;
}
.header-nav li{
    margin-left: 25px;
}
.header-nav a{
    text-decoration: none;
}



/* MAIN */
/* //////////highlights//////// */
.hl-card{
    background-color: var(--primary-color-light);
    margin-top: 25px;
    border-radius: 20px;
}
.highlights-text{
    padding:20px ;
}
.highlights-text p{
    margin: 25px 0;
}
.highlights-img{
    text-align: center;
}
.highlights-img img{
    width: 100%;
    height: 100%;
}
.highlights-row{
    padding-bottom: 80px ;
    padding-top: 25px ;
}

/* //////////strategic//////// */
.strat-row{
    padding-top: 45px;
    padding-bottom: 35px;
}
.strat-col{
    margin-top: 30px ;
}
.strat-col:first-child{
    margin-top: 0px ;
}
.strat-img{
    text-align: center;
}
.strat-img img{
    width: 100%;
    height:100%;
    
}
.strat-info h4{
    margin-top: 80px;
}
.strat-info p{
    margin-top: 50px;
    margin-bottom: 30px ;
}
.strat-card{
    padding: 20px;
    text-align: center;
}
.card-info h5{
    margin: 20px 0;
    font-size: 20px;
}
.card-info p{
    margin-bottom: 30px;
}



/* //////////testimonial//////// */
.testimonial-col{
    margin-top: 30px ;
    text-align: center;
    padding: 20px;
}
.testimonial-col h2{
    font-size: 16px;
    font-weight: 400;
}

.testimonial-img img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover ; 
}
.test-card{
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    align-items:center ;
}
.benefit-title{
    text-align: center;
}
.testimonial{
    padding-bottom: 40px;
}

/* //////////benefit//////// */
.benefits{
    padding-top: 60px;
    padding-bottom: 60px;
}
.benefit-title{
    margin-bottom: 60px;
}
.benefit-card{
    padding: 30px ;
    margin-top: 30px;
}
.benefit-card h5{
    font-size:40px ;
    margin-bottom: 20px;
}
.benefit-card h6{
    font-size:20px ;
}
.benefit-card p{
    margin-top: 20px ;
    margin-bottom: 60px;
}

/* //////////about-us//////// */
.about-us{
    padding-top: 80px;
    padding-bottom: 80px;
}
.about-us h4{
    margin-bottom: 40px;
    font-size: 50px;
}
.p-first{
    margin-bottom: 40px;
}
.p-second{
    margin-bottom: 20px;
}
.about-img img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover ; 
}
.p-img{
    font-size: 30px;
    font-weight: 700;
    color: var(--secondary-color);
    margin-bottom: 30px;
}

.about-img a{
    padding: 5px ;
    padding-left: 10px;
    padding-right: 10px;
   
}

/* //////////download//////// */
.download{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
    padding-bottom: 70px ;
}
.download h2{
    font-weight: 400;
    font-size: 18px;
    margin-top: 60px;
    margin-bottom: 30px;
    color: #BFBCEE;
}
.download h3{
    font-size: 30px;
    text-align: center;
    margin-bottom: 30px;
}
.download h4{
    font-size: 60px;
    color: #FDC15F;
    margin-bottom: 30px;
}
.download p{
    margin-bottom: 25px;
    text-align:center;
}
.bg-start{
    font-weight: 700;
    font-size: 18px;
    width: 310px;
    text-align: center;
    padding-top: 20px ;
    padding-bottom: 20px;
    border-radius: 150px;
    color: var(--secondary-color);
    margin-bottom: 30px;
}

/* FOOTER */
footer{
    background-color: #333333;
}
.footer-text{
    padding-top: 40px;
    padding-bottom: 30px;
    text-align: center;
}
.footer-text p:first-child{
    margin-bottom: 30px;
}






                            /* RESPONSIVE */

/* HEADER-responsive */
@media screen and (min-width:992px) {
    .hamburger-button{
        display: none;
    }
    .header-nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* ///////////////// */

/* MAIN-responsive */
@media screen and (min-width:436px){
    /* highlights */
    .hl-card{
        width:calc(33.3% - 10px);
        margin-left: 10px;
    }
    .highlights-img{
        text-align: left;
        width: 50%;    
    }
    .hl-card:first-child{
        width:calc(66.6% - 10px);
    }
    /* testimonial */
    .test-card{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    /* benefit */
    .card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .benefit-card{
        /* da cambiare */
        width: calc((100%/2) - 15px);
        /*^^^^^^^^^^^^^^^^^^^^^^^^^^*/
    }
    /* about-us */
    .about-us{
        display: flex;
    }
    .about-us-col{
        width: calc((100%/2));
    }
}

   
@media screen and (min-width:992px){
    /* highlisghts */
    .hl-card{
        display: flex;
    }
    .highlights-img{
        width: 100%;    
    }
    /* strategic */
    .strat-col{
        width: calc(50% - 40px);
        margin-top: 0;
    }
    .strat-col:last-child{
        margin-left: 40px;
    }
    .strategic{
        padding: 0 180px
    }
    .strat-info p{
      margin-bottom: 0px;
    }
    /* benefit */
    .benefit-card{
        width: calc((100%/3) - 15px);
    }
}
   
