@import url(reset.css);
@import url(common.css);
@import url(variables.css);
@import url(debug.css);

/* HEADER */
header{
    background-color: var(--primary-color);
    padding: 20px;
}
.logo-row{
    justify-content: space-between;
}
.hamburger-button{
    border: none;
    background-color:  transparent;
    font-size: 30px;
    color: white;
}
.header-nav{
    display: none;
}
.header-nav li{
    margin-left: 25px;
}
.header-nav a{
    text-decoration: none;
}



/* MAIN */
/* //////////highlights//////// */
.hl-card{
    background-color: var(--primary-color-light);
    margin-top: 25px;
    border-radius: 20px;
}
.highlights-text{
    padding:20px ;
}
.highlights-text p{
    margin: 25px 0;
}

.highlights-img img{
    width: 200px;
    height: 200px;

}
.highlights-row{
    padding-bottom: 80px ;
    padding-top: 25px ;
}

/* //////////strategic//////// */
.strat-row{
    padding-top: 45px;
    padding-bottom: 35px;
}
.strat-col{
    margin-top: 30px ;
}
.strat-col:first-child{
    margin-top: 0px ;
}
.strat-img{
    text-align: center;
}
.strat-img img{
    width: 300px;
    height:300px;
    
}
.strat-info h4{
    margin-top: 80px;
}
.strat-info p{
    margin-top: 50px;
    margin-bottom: 30px ;
}
.strat-card{
    padding: 20px;
}


/* //////////testimonial//////// */
.testimonial-col{
    margin-top: 30px ;
    text-align: center;
    padding: 20px;
}
.testimonial-col h2{
    font-size: 16px;
    font-weight: 400;
}

.testimonial-img img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    object-fit: cover;
}
.test-card{
    background-color: var(--secondary-color);
}
.benefit-title{
    text-align: center;
}
.testimonial{
    padding-bottom: 40px;
}

/* //////////benefit//////// */
.benefits{
    padding-top: 60px;
}
.benefit-title{
    margin-bottom: 60px;
}
.benefit-card{
    padding: 30px ;
    margin-top: 30px;
}
.benefit-card h5{
    font-size:40px ;
    margin-bottom: 20px;
}
.benefit-card h6{
    font-size:20px ;
}
.benefit-card p{
    margin-top: 20px ;
    margin-bottom: 60px;
}







                            /* RESPONSIVE */

/* HEADER-responsive */
@media screen and (min-width:992px) {
    .hamburger-button{
        display: none;
    }
    .header-nav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* ///////////////// */

/* MAIN-responsive */
@media screen and (min-width:436px){
    /* highlights */
    .hl-card{
        width:calc(33.3% - 10px);
        margin-left: 10px;
    }
    .hl-card:first-child{
        width:calc(66.6% - 10px);
    }
    /* testimonial */
    .test-card{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    /* benefit */
    .card-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .benefit-card{
        width: calc((100%/2) - 15px);
    }
}

   
@media screen and (min-width:992px){
    /* highlisghts */
    .hl-card{
        display: flex;
    }
    /* strategic */
    .strat-col{
        width: calc(50% - 40px);
        margin-top: 0;
    }
    .strat-col:last-child{
        margin-left: 40px;
    }
    .strategic{
        padding: 0 180px
    }
    .strat-info p{
      margin-bottom: 0px;
    }
    /* benefit */
    .benefit-card{
        width: calc((100%/3) - 15px);
    }
}
   
